<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Todo List </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" 
    aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link" href="#" [routerLink]="['/home']" routerLinkActive="iconActive">Home</a>
        <a class="nav-item nav-link" href="#" [routerLink]="['/todos']" routerLinkActive="iconActive">Todo List</a>
        <a class="nav-item nav-link" href="#" [routerLink]="['/contactus']" routerLinkActive="iconActive">Contact Us</a>
        <a class="nav-item nav-link " href="#" [routerLink]="['/aboutUs']" routerLinkActive="iconActive">About Us</a>
      </div>
    </div>
  </nav>
  