<!-- Navbar -->

  <!-- Dashboard -->
  <div class="container my-5">
    <div class="row g-4">
  
      <!-- New Orders -->
      <div class="col-md-6">
        <div class="card dashboard-card pink">
          <div class="card-body">
            <h6>New Orders</h6>
            <h2>3,243</h2>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <small class="float-end">12.5% ↑</small>
          </div>
        </div>
      </div>
  
      <!-- Customers -->
      <div class="col-md-6">
        <div class="card dashboard-card blue">
          <div class="card-body">
            <h6>Customers</h6>
            <h2>15.07k</h2>
            <div class="progress">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
            <small class="float-end">9.23% ↑</small>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card dashboard-card green">
          <div class="card-body">
            <h6>Ticket Resolved</h6>
            <h2>578</h2>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <small class="float-end">10% ↑</small>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card dashboard-card orange">
          <div class="card-body">
            <h6>Revenue Today</h6>
            <h2>$11.61k</h2>
            <div class="progress">
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <small class="float-end">2.5% ↑</small>
          </div>
        </div>
      </div>
